<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
<style>
.card{

	padding:100px;
}
body {

 background-image: url('/static/stack.png');
 background-color: #cccccc;
}

</style>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
</head>
<body>
<div class="container">
	{% if s %}
		<div class="alert alert-success">
			<h2>{{s}}</h2>
		</div>
	{% endif %}

	{% if us %}
		<div class="alert alert-danger">
			<h2>{{us}}</h2>
		</div>
	{% endif %}
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Welcome To Justica</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" id="inputEmail" class="form-control" name="name"  placeholder="Email address" required autofocus>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" id="inputPassword" name="pass"  placeholder="Password" required>
					</div>

						<input type="radio" name="typeperson" value="lawyer" required> Lawyer
						<input type="radio" name="typeperson" value="client" required> Client
						<br>
		        <center><button class="btn btn-success" type="submit">Sign in</button></center>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<form action="{{url_for('signup1')}}">
						<button class="btn btn-primary" type="submit">Signup</button>
		      </form>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
